[CouchDB]
url = https://couch.example.com
username = myuser
password = mypassword
database = mydatabase

[Execution]
tmp_dir = $TMPDIR
output_dir = $HOME/out
input_dir = $HOME/in

[lisa-host]
path = ~/sim-city-client
script = scripts/lisaSubmitExpress.sh
host = lisa
method = ssh